.contactForm {
    margin-top: 50px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #464D67;
}

.contactForm h4 {
    color: white;
    font-size: 70px;
    padding: 60px 0 20px;
}

.contactForm p {
    color: white;
    font-size: 16px;
    padding: 10px 0 20px;
}

.contactForm input {
    width: 80%;
    height: 50px;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #d9d872;
    background: transparent;    
    margin: 20px 0;
}

.contactForm input::placeholder {
    padding-left: 20px;
    color: #bbbbbb;
    font-size: 16px;
}

.contactForm input:focus::-webkit-input-placeholder {
    color: transparent;
}

.contactForm select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    
    color: white;
}

.contactForm textarea {
    width: 80%;
    height: 250px;
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 3px solid #d9d872;
}

.contactForm textarea::placeholder {
    padding: 20px;
    padding-top: 40px;
    color: #bbbbbb;
    font-size: 16px;
}

.contactForm textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.contactForm button {
    margin: 30px 0 70px;
    width: 200px;
    height: 40px;
    background: #d9d872;
    border: none;
    border-radius: 5px;
    color: #464D67;
}

.contactForm button:hover {
    background: #c2c060;
}

@media(max-width: 1200px) {

    .contactForm {
        margin-left: -20px;
        margin-right: -20px;
    }

    .contactForm h4 {
        font-size: 31px;
        padding: 30px 0;
    }

    .contactForm p {
        padding: 0 30px;
    }
}
