.coupons {
    background-color: #4b9f48;
    margin-bottom: -10px;
}

.coupons h1 {
    color: white;
    text-align: center;
    padding: 20px 115px;
    line-height: 60px;
    font-weight: 100;
    font-size: 25px;
}

.coupons form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coupons input::placeholder {
    color: #d9d872;
    font-size: 20px;
}

.coupons button {
    color: white;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: #ed674a;
    border: none;
    font-size: 20px;
}

.coupons input {
    width: 420px;
    height: 65px;
    text-align: center;
}


@media(max-width: 670px) {
    .coupons {
        margin-left: -20px; 
        margin-right: -20px;
        margin-bottom: 0;
    }

    .coupons h1 {
        padding: 10px;  
        line-height: 30px;
        font-size: 20px;
    }

    .coupons input {
        width: 270px;
    }

    .whyus {
        background-image: none;
    }
    .reasonsLeft div, 
    .reasonsRight div {
        padding-bottom: 10px; 
    }

    .about {
       margin-left: -20px; 
       margin-right: -20px;
    }


}  