nav {
    font-family: 'Roboto Slab', serif;
}
.myNav {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

.bottomHeader {
    background-color: white;
    padding: 20px 79px;
    height: 120px;
}

.myNav li {
    border-right: 1px solid lightgrey;
}

.myNav li:nth-child(5) {
    border-right: none;
}

.myNav li a {
    color: #454d66 !important;
    font-size: 20px;
    font-weight: 400;
}

.navbar .nav>li>a {
    padding: 0px 30px;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    padding: 15px 200px;
}

.topHeader p {
    padding-top: 5px;
}

.meta {
    display: flex;
}

.meta p {
    padding-right: 10px;
    margin: 0;
    font-size: 16px;
    color: #454d66;
}

.meta p:nth-child(1) {
    color:#A9A9A9;
}

.meta p:nth-child(2) {
    padding-left: 15px;
    font-weight: 900;
}

.logo {
    width:230px;
    padding-left: 10px;
}

.mybtn {
    background-color: rgb(241, 241, 241);
    width: 50px;
}

.mybtn span {
    background: black;
}

.topRight {
    display: flex;
}

.topRight p {
    color:#bbbbbb;
    margin: 0;
}

.topRight button {
   color: white;
   background-color: #ed674a;
   padding: 5px 30px;
   border: none;
   border-radius: 5px;
   margin: 0 25px;
}

.topRight button:hover {
    background-color: #e74b37;
 }

@media(max-width: 670px) {

    .topHeader {
        justify-content: space-evenly;
        padding: 0;
        margin-right: -20px
       
    }
    .myHeader {
        padding-top: 20px !important;
    }

    .logo {
        width: 160px;
    }

    .meta {
        display: inline-block;
        white-space: nowrap;
        padding-top: 16px;
    }

    .meta p {
        font-size: 14px;
    }

    .truncate {
    display: none;
    }

    .topRight {
        flex-direction: row-reverse;
    }

    .topRight button {
       display: none;
    }

    .topRight p {
        padding-top: 18px;
    }
    .bottomHeader {
        padding: 0;
    }

    #myNav {
        margin-right: 0;
    }
    #myNavbar ul {
        display: flex !important;
        flex-direction: column !important;
        margin-top: -20px;
    }

    #myNavbar ul a {
       padding: 2px;
    }


    .myNav li {
         border-right: none; 
    }
}