body {
    font-family: 'Roboto Slab', serif;
}
.myHeader {
    background-image: url("/images/Hljeb-slider.jpg");
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 217px;
    color: white !important;   
}

.myHeader h1 {
    line-height: 88px;
    font-weight: 100;
}

.myHeader p {
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
}

#ujupaketi {
    width: 470px;
    height: 65px;
    background-color: #ed674a;
    border: none;
    border-radius: 5px;
    margin-top: 115px;
    font-size: 24px;
    font-weight: 600;
}

.info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 250px;
    flex-wrap: wrap;
}

.title {
    margin: 80px 0;
    text-align: center;
}

.title span {
    color: #ed674a;
}

.title p {
    color: #bbbbbb;
}

.products {
    margin: 50px 0px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products div {
    margin: 10px 30px;
    background-color: #d9d872;
    border-radius: 19px;
    height: auto;
    text-align: center;
}

.products h3 {
    background-color: #ed674a;
    color: white;
    font-weight: 100;
    width: 110px;
    margin-left: 70px;
    border-radius: 10px;
    margin-top: 26px;
    font-size: 22px;
}

.products img {
    width: 100%;
    height: 300px;
}

.products p {
    width: 263px;
    padding: 10px;
}

.ordering {
    text-align: center;
    margin-bottom: 40px;
}

#myBtn {
    width: 470px;
    height: 65px;
    background-color: #ed674a;
    border: none;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.ordering p {
    padding: 35px;
    color: #bbbbbb;
}

.aboutuju {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.aboutuju h1 {
    color: #454d66; 
    font-weight: 100;
    font-size: 46px;
}

.aboutuju p {
    color: #bbbbbb;
    padding-top: 10px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part img {
    width: 150px;
    height: 150px;
}

.part div {
    width: 40px;
    height: 40px;
    background: #4b9f48;
    text-align: center;
    border-radius: 50px;
    color: white;
    padding: 10px;
    margin: 10px 0px;
}

.part p {
   font-size: 14px;
   text-align: center;
}


.whyus {
    background-image: url('/images/telefon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 380px auto;
    background-position: 50% 75%;
}

.whyusTitle {
    text-align: center;
    padding: 20px;
    color: #454d66;
}

.whyusTitle p {
    color: #bbbbbb;
}

.reasons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.reasons p {
    font-size: 20px;
    color: #454d66;
}

.reasons div {
    width: 300px;
    padding: 30px;
    padding-top: 0;
}  

.reasonsLeft div,
.reasonsRight div{
    padding-bottom: 90px;
}



@media(max-width: 670px) {
    .myHeader {
        margin-left: -20px;
        margin-right: -20px;
    }
    .myHeader h1 {
        line-height: 36px;
        font-size: 18px;
    }
    
    .info {
        padding-top: 81px;
    }

    .info p {
        font-size: 16px !important;
        line-height: 0;
        padding: 10px;
    }

    #ujupaketi {
        margin-top: 30px !important;
        width: 250px;
        font-size: 18px;
    }

    .title h1 {
            font-size: 30.5px;
    }

    #myBtn {
        width: 265px !important;
        font-size: 15px !important;
        margin-top: 50px !important;
    }

    .steps {
        flex-direction: column;
    }

    .aboutuju h1 {
        font-size: 30px;
    }

    .coupons {
        margin-left: -20px; 
        margin-right: -20px;
        margin-bottom: 0;
    }

    .coupons h1 {
        padding: 10px;  
        line-height: 30px;
        font-size: 20px;
    }

    .coupons input {
        width: 270px;
    }

    .whyus {
        background-image: none;
    }
    .reasonsLeft div, 
    .reasonsRight div {
        padding-bottom: 10px; 
    }

    .about {
       margin-left: -20px; 
       margin-right: -20px;
    }


}   