body {
    font-family: 'Roboto Slab', serif;
}
.myHeader {
    background-image: url("/images/Hljeb slider.jpg");
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 192px;
    color: white;   
}

.myHeader h1 {
    line-height: 88px;
}

.myHeader p {
    padding-top: 10px;
}

button {
    width: 200px;
    height: 50px;
    background-color: #ed6a32;
    border: none;
    border-radius: 5px;
    margin-top: 130px;

}

.info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 250px;
    flex-wrap: wrap;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.title span {
    color: #ed6b32e3;
}

.title p {
    color: #A9A9A9;
}

.products {
    margin: 50px 0px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products div {
    margin: 10px;
    background-color: #2c2c61ef;
    border-radius: 19px;
    height: auto;
    text-align: center;
}

.products h3 {
    background-color: rgb(223, 235, 52);
    width: 110px;
    margin-left: 70px;
    border-radius: 10px;
    margin-top: 26px;
    font-size: 22px;
}

.products img {
    width: 100%;
    height: 300px;
}

.products p {
    width: 263px;
    color: white;
    padding: 10px;
}

.ordering {
    text-align: center;
    margin-bottom: 40px;
}

#myBtn {
    color: white;
    font-weight: none;
    background-color: #ed6a32;
    font-size: 23px;
    font-weight: 600;
    border-radius: 10px;
    width: 424px;
}

.ordering p {
    padding: 35px;
}

.aboutuju {
    text-align: center;
    margin-top: 50px;
}

.aboutuju h2 {
    color: #191970; 
}

.aboutuju p {
    color: #A9A9A9;
    padding-top: 30px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part img {
    width: 150px;
    height: 150px;
}

.part div {
    width: 40px;
    height: 40px;
    background: green;
    text-align: center;
    border-radius: 50px;
    color: white;
    padding: 10px;
    margin: 10px 0px;
}

.part p {
   font-size: 14px;
   text-align: center;
}