.howHeader {
    background-image: url("/images/slider3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}


.howHeader h1 {
    color: #ed674a;
    width: 40%;
    position: absolute;
    top: 200px;
    left: 238px;
    line-height: initial;
    font-weight: 100;
}

.new {
    background-color: white;
}

.howtoorder{
    width: 70%;
    margin: 70px auto;
    text-align: justify;
    color: #454d66; 
}


@media(min-width: 1800px) {
    .howHeader {
        height: 880px;
    }
}

@media(max-width: 670px){
    .howHeader {
        height: 200px;
    }

    .howtoorder {
        text-align: -webkit-center;
    }

    .howHeader h1 {
        position: relative;
        font-size: 16px;
        padding: 10px;
        top: 0;
        left: 0;

    }
}