.mymodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    top:-5px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: transparent; /* Black w/ opacity */
    font-family: 'Roboto Slab', serif;
    display: none;
}


  /* Modal Content */
  .modal-content {
    background-color: #fefefeea;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.mymodal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    padding-bottom: 30px;
}

.mymodal h3 {
    text-align: center;
    color: #454d66;
    font-weight: 800;
}

.mymodal h4 {
    text-align: center;
    color: #454d66;
    font-weight: 100;
    font-size: 24px;
}

.myForm {
    margin: auto;
    padding: 30px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}


.modalbtn {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ed674a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.left label {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    float: right;
}

.left label:hover {
    background-color: #ed674a ;
}


textarea {
    width: 100%;
    height: 100px;
}

.right label {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    float: right;
}

.right label:hover {
    background-color: #ed674a ;
}

.personalInfo {
    margin-top: 20px;
}

.personalInfo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalInfo input {
    width: 375px;
    padding: 15px;
    box-shadow: 3px 3px #f0f0f0;
}

.personalInfo input::placeholder {
   text-align: center;
}

.personalInfo p {
    color: 	#bbbbbb;
}


.time {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.time label {
    color: #454d66;
    font-size: 16px;
}

.time select {
    width: 120px;
    margin: 10px;
    border: 1px solid #ed674a;
    padding-left: 35px;
}

.mymodalbtn {
    margin-top: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    height: 40px;
    background: #ed674a;
}

.mymodalbtn:hover {
    background-color: #e74b37;;
    color:white;
    text-decoration: none;

}

.mymodalbtn:focus {
    outline: none !important;
    color: white;
}

.mymodalbtn[aria-expanded="false"] {
    background-color: #ed674a !important;
    color: white;
}

#accordionExample {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    margin:10px;
}

.card button {
    width: 200px;
}

.ordertime {
    margin-left: -26px;
}

.ordertime input {
    width: 120px;
    margin: 10px;
    border: 1px solid #ed674a;
}

@media(max-width:670px) {
    .modal-content {
        width: 88%;
        margin: 0;
    }
    #myModal h3 {
        font-size: 16px;
        line-height: 20px;
    }

    #myModal img {
        width: 200px;
        margin-bottom: 20px;
    }
    #accordionExample {
        flex-direction: column;
        width: 280px;
    }
    .myForm {
         margin: 0; 
         width: 0; 
        padding: 0;
    }

    .myForm h3 {
        width: 265px;
    }

    .mymodalbtn {
        width: 200px;
    }

    textarea {
        width: 85%;
    }

    .personalInfo {
        align-items: flex-start;
        margin-left: 50px;
    }

    .personalInfo input {
        width: 165px;
    }

    .personalInfo p {
        width: 190px;
    }

    .modalbtn {
        width: 170px;
    }

    .time {
        flex-direction: row;
    }

    .time span {
         margin-left: 10px; 
    }

    .time select {
        margin-right: 10px; 
    }
    .ordertime {
        display: flex;
        margin-left: 10px;
    }

    .card {
        margin-left: 36px;
    }

}
