.mymodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    top:-5px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.692); /* Black w/ opacity */
    font-family: 'Roboto Slab', serif;
    display: none;
}

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.mymodal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.mymodal h3 {
    text-align: center;
}

.myForm {
    margin: auto;
    width: 50%;
    padding: 30px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}


.modalbtn {
    margin: 20px 0px;
    color: white;
    font-size: 28px;
    font-weight: 600;
    width: 250px;
}

.left label {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    float: right;
}

.left label:hover {
    background-color:rgb(238, 195, 85) ;
}


textarea {
    width: 100%;
}

.right label {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    float: right;
}

.right label:hover {
    background-color:rgb(238, 195, 85) ;
}

.personalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personalInfo input {
    width: 375px;
    padding: 15px;
    border: 1px solid 	#191970;
}

.personalInfo p {
    color: 	#808080
}


.time {
    margin-top: 30px;
    display: flex;
    align-items: baseline;
}

.time select {
    width: 50px;
}

.time span {
    margin-left: 30px;
    margin-right: 10px;
}