.jumbotron p {
     margin-bottom: 0; 
     font-size: 14px; 
     font-weight: 100; 
}
 
 .servicesTitle {
    margin-top: 250px;
    width: 65%;
    margin: 230px 200px 50px;
 }

 .servicesTitle h1 {
     color: #454d66;
    font-size: 55.5px;
    text-align: -webkit-left;
    line-height: 60px;
 }

 .servicesTitle p {
    font-size: 23px;
    color: #68759c;
    padding: 20px 0;
 }

 .servicesHeader {
    background: #ee785e;
    height: 300px;
    background-position: 100% 100%;
    margin-bottom: 0;
}

.package {
    display: flex;
    justify-content: center;
}

.packageLeft,
.packageRight {
    display: flex;
    flex-direction: column;

}


.packageLeft div,
.packageRight div{
    width: 500px;
    height: 300px;
    background: #454d66;
    margin: 10px;
}

.packageLeft p,
.packageRight p{
    width: 430px;
    margin-left: 50px;
    color: #bbbbbb;
}


.packageLeft h4,
.packageRight h4{
    text-align: center;
    font-size: 21px;
    color: #454d66;
    font-weight: 100;
}

.packageLeft h3,
.packageRight h3{
    margin-left: 50px;
    font-size: 22px;
    color: #454d66;
}

.packageLeft span,
.packageRight span{
    color: #ed674a;
}

.servicesSingle,
.petTitle {
    width: 65%;
    margin: 350px auto 100px;
    text-align: start;
}

.petTitle {
    margin: 0 auto 100px;
}

.petTitle span {
    color: #ed674a;
}

.servicesSingle h1,
.petTitle h1{
   font-size: 50px;
   color: #454d66;
   margin-bottom: 20px;
}

.servicesSingle h3,
.petTitle h3{
   color: #616a86;
   line-height: 25px;
   margin-bottom: 20px;
   font-weight: 200;
   font-size: 22px;
}

.servicesSingle p,
.petTitle p{
   color: #bbbbbb;
}

.servicesProducts {
    background: #66c263;
    height: 300px;
    background-position: 100% 100%;

    margin: 50px 0px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicesProducts div {
    margin: 70px 10px;
    background-color: #d9d872;
    border-radius: 5px;
    width: 250px;
    height: auto;
    text-align: center;
}

.servicesProducts h3 {
    color: #454d66;
    font-weight: 400;
    font-size: 22px;
}

.servicesProducts img {
    width: 100%;
    height: 250px;
}

.servicesProducts p {
    width: 263px;
    padding: 20px;
    padding-bottom: 8px;
    font-size: 14px;
    color: #454d66;
    line-height: 20px;
    text-align: center;
}

.servicesOrdering {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 150px;
}

#servicesBtn {
    width: 300px;
    height: 50px;
    background-color: #ed674a;
    border: none;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 18px;
    color: white;
}

#servicesBtn:hover {
    background-color: #e74b37;
}

.servicesOrdering p {
    color: #bbbbbb;
    font-size: 20px;
    font-weight: 200;
    padding: 27px !important;
}



.petProducts {
    background: #d9d872;
    height: 300px;
    background-position: 100% 100%;

    margin: 50px 0px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 100px;
}

.petProducts div {
    margin: 70px 10px;
    background-color: #454d66;
    border-radius: 5px;
    width: 250px;
    height: auto;
    text-align: center;
}

.petProducts h3 {
    color: white;
    font-weight: 400;
    font-size: 22px;
}

.petProducts img {
    width: 100%;
    height: 250px;
}

.petProducts p {
    width: 263px;
    padding: 20px;
    padding-bottom: 8px;
    font-size: 14px;
    color: white;
    line-height: 20px;
    text-align: center;
}



@media(max-width:670px) {
    .servicesHeader {
        background: none;
    }
    
    .servicesTitle{
        margin: 0;
        margin-top: 70px;
        width: 100%;
    }

    .servicesTitle h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .package {
       flex-direction: column;
    }

    .packageLeft div,
    .packageRight div{
        width: 300px;
        height: 300px;
    }

    .packageLeft p, .packageRight p {
        width: auto;
         margin:0px;

    }

    .servicesSingle{
         width: auto; 
        margin: 870px auto 0;
        text-align: start;
    }

    .servicesSingle h1 {
        font-size: 30px;
    }

    .servicesProducts {
        background: none;
    }

    .servicesProducts div {
        margin: 20px 10px;
    
    }

    .servicesOrdering {
        margin-top: 1411px;
    }

    .petTitle {
        width: auto;
        margin: auto;
    }

    .petProducts {
        background: none; 
        margin: 0;
        margin-bottom: 1335px;
    }

    .petTitle h1 {
        font-size: 35px;

    }

    .petTitle h3 {
        font-size: 17px;
    }

    .petProducts div {
        margin: 20px 10px;
    }
} 